/*-------------------------
    Google Map
------------------------*/
#map {
    height: 620px;
}

/* Medium Size Screens */
@include md-screens {
    #map {
        height: 450px;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    #map {
        height: 320px;
    }
}

/* Extra Small Devices */
@include xs-screens {
    #map {
        height: 250px;
    }
}