/*-----------------------
    Alert
-----------------------*/
.alert {
    background-color: #ffe7dc;
    border: 1px solid #ff5e14;
    padding: 24px 20px;
    border-radius: 0;
    color: #ff5e14;
}